//color variables
$white: rgba(255, 255, 255, 1); //#fff
$white-overlay: rgba(255,255,255,.2);
$header-bkgd: rgba(255,255,255,.9);
$eggshell: rgba(250, 250, 250, 1); //#fafafa
$near-white: rgba(240, 240, 240, 1); //#f2f2f2
$off-white: rgba(235,235,235, 1); //#ebebeb

$deez: #ddd;
$sees: #ccc;
$med-dark: #888;
$dark-gray: #4d4d4d;
$charcoal: rgba(50, 50, 50, 1); //#333
$charcoal-hover: rgba(50, 50, 50, .8);
$dark-overlay: rgba(20, 20, 20, .75);

$blue: rgba(0, 166, 217, 1); //#00A6D9;
$blue-hover: rgba(0,152,203,1); //#0098cb;

$primary: $blue;

$fs-orange: #ee5a31;
$ova-db: #7491a3;
$ova-lb: #9eb1bc;
$vive-dark: #54575b;
$vive-blue: #16abd3;