//font import and family vars
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;

//font weight variables
$light: 300;
$normal: 400;
$semi: 600;
$bold: 700;